body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(48, 52, 63);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.App {
  display: flex;
  background-color: white;
}

/* LOGIN PAGE */
.sign-up-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.sign-up-header {
  
}

.sign-up-form {

}

.sign-up-form .form-field {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
  flex: 2;
  border-radius: 1px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 35px;
  width: 300px;
}

.sign-up-form .form-submit {
  margin: 10px;
  padding: 15px;
  text-decoration: uppercase;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  width: 95%;
  background-color: #273469;
  color: #fafaff;
  font-size: 20px;
}

/* SIDE NAV BAR */

.side-nav-bar {
  box-sizing: border-box;
  /* width: 10%; */
  min-width: 220px;
  min-height: 100vh;
  /* background-color: rgba(48, 52, 63, .05); */
  background-color: #273469;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.33);
  color: #fafaff;
}

.nav-app-title {
  margin: 0px;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
}

.nav-line {
  margin: 0px 0px;
  border: 1px solid #fafaff;
}

.nav-ul {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
}

.nav-ul li {
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 300;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.page-title {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: 300;
  color: rgb(48, 52, 63);
}

.header-large {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.header-small {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 200;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Transactions Page */

.transactions-page {
  margin-left: 180px;
  margin-top: 60px;
  width: 55vw;
}

.transactions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.transaction-card {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 6px;
  border: 2px solid rgba(48, 52, 63, .1);
  border-radius: 6px;
  background-color: white;
}

.transaction-card #category-text {
  font-size: 16px;
  font-weight: 400;
}

.transaction-card #name-text {
  font-size: 14px;
  font-weight: 300;
}

.transaction-card #amount-text {
  font-size: 16px;
  font-weight: 400;
}

.transaction-card #date-text {
  font-size: 14px;
  font-weight: 300;
}

.transaction-card #mask-text {
  font-size: 14px;
  font-weight: 300;
}

.transaction-card #category-img {
  margin-right: 20px;
}

.transaction-card .account-info-container {
  margin-left: 50px;
}

.transaction-card .account-logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}


/* Accounts Page */

.accounts-page {
  margin-left: 180px;
  margin-top: 60px;
  width: 55vw;
}

.accounts-connect-btn {
  /* margin-top: 20px; */
	background-color:#C6ADFF !important;
	border-radius:9px !important;
	border:1px solid #A985FF !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:rgba(48, 52, 63, .9) !important;
	font-size:20px !important;
	padding:18px 40px !important;
}

.institutions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.institution-card {
  margin: 40px 0px;
  padding: 0px 20px;
  padding-top: 20px;
  border: 2px solid rgba(48, 52, 63, .1);
  border-radius: 6px;
  background-color: white;
}

.institution-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.institution-manage {
  cursor: pointer;
  position: relative;
  /* display: inline-block; */
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  margin-top: 95px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.institution-manage:hover .dropdown-content {
  display: block;
}


.institution-header h3{
  margin: 0;
  font-weight: 300;
  font-size: 22px;
}

.institution-status-img {
  margin-left: 10px;
  /* fill:  */
}

.institution-expand-img {
  margin-left: 2px;
  width: 40px;
}

.institution-line {
  margin: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border: 1px solid rgba(48, 52, 63, .1);
}

.accounts-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.account-card {
  display: flex;
  /* border: 1px solid #30343F; */
  margin: 20px 0px;
  padding: 5px 10px;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
}

.account-card-left-side {
  display: flex;
  align-items: center;
}

.account-logo {
  width: 50px;
  height: 50px;
}

.account-details {
  margin-left: 20px;
}

.account-details .header-large {
  margin-bottom: 10px;
}

.account-checkbox {
  transform: scale(2);
  margin-right: 20px;
  margin-left: 20px;
}
